samples/recognitionTest/c++/Debug/recognitionTest.ilk
samples/recognitionTest/c++/Debug/recognitionTest.log
samples/recognitionTest/c++/Debug/recognitionTest.obj
samples/recognitionTest/c++/Debug/recognitionTest.pdb
samples/recognitionTest/c++/Debug/recognitionTest.tlog/CL.command.1.tlog
